.contact {
  width:200px;
  background: rgb(190, 187, 204);
  margin: 0 auto;
  color: white;
  padding: 15px;
  margin: 5px auto;
}

.contact span {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
